$dark-background-color:#333;
$light-background-color:#f5f5f5;
$dark-foreground-color:#000;
$light-foreground-color:#fff;
$grey-foreground-color:#ccc;
$accent-color:#6D0509;
$general-padding:2em;
$general-margin:1em;